products/n8n-starter-bundle/01_stripe-download-delivery.json
{"updatedAt":"2026-02-24T05:34:54.983Z","createdAt":"2026-02-24T03:49:54.104Z","id":"nPvIiIoVrL3uoxDu","name":"REV: Stripe Payment → Download-Link → Email","description":null,"active":true,"isArchived":false,"nodes":[{"id":"stripe-webhook","name":"Stripe Payment Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"path":"stripe-payment-completed","httpMethod":"POST","responseMode":"responseNode","options":{}},"webhookId":"stripe-payment-completed"},{"id":"extract-stripe","name":"Stripe Daten extrahieren","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"// n8n gibt Stripe Webhook body in verschiedenen Feldern\nconst raw = $input.first().json;\n// n8n webhook: body kann in raw.body (string/obj) oder direkt in raw sein\nlet body;\nif (raw.body && typeof raw.body === 'object') {\n  body = raw.body;\n} else if (raw.body && typeof raw.body === 'string') {\n  try { body = JSON.parse(raw.body); } catch(e) { body = raw; }\n} else {\n  body = raw;\n}\n\n// Stripe Event: body.data.object ist das eigentliche Objekt\nconst stripeObj = body.data?.object || body;\n\nconst email =\n  stripeObj.customer_email ||\n  stripeObj.customer_details?.email ||\n  stripeObj.receipt_email ||\n  stripeObj.billing_details?.email ||\n  '';\n\nif (!email) {\n  // Debug: zeige was wir bekommen haben\n  throw new Error('Email nicht gefunden. Raw keys: ' + Object.keys(raw).join(',') + ' | body keys: ' + Object.keys(body).join(','));\n}\n\nconst firstName =\n  stripeObj.customer_details?.name?.split(' ')[0] ||\n  stripeObj.billing_details?.name?.split(' ')[0] ||\n  'Kunde';\n\nconst purchaseRef = stripeObj.payment_intent || stripeObj.id || 'stripe-' + Date.now();\nconst amountTotal = (stripeObj.amount_total || 0) / 100;\nconst eventType = body.type || 'checkout.session.completed';\n\nreturn [{ json: { email, firstName, purchaseRef, amountTotal, eventType } }];"}},{"id":"get-download-link","name":"Download-Link generieren","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"POST","url":"http://10.40.10.99:3002/api/download-link","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-download-issuer-secret","value":"b9a8d68a57293a634c5d384bbf12358428ff31d0ef7715b5534139cc45807845"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"product_id","value":"playbook01"},{"name":"format","value":"pdf"},{"name":"purchase_ref","value":"={{ $json.purchaseRef }}"}]},"options":{}}},{"id":"send-delivery-mail","name":"Delivery Email via Rapidmail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,200],"parameters":{"method":"POST","url":"https://api.rapidmail.de/v3/transactional-mails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Basic {{ Buffer.from($env.RAPIDMAIL_API_USER + ':' + $env.RAPIDMAIL_API_PASSWORD).toString('base64') }}"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Stripe Daten extrahieren').item.json.email }}"},{"name":"subject","value":"Dein Homelab Automation Playbook — Download bereit!"},{"name":"html","value":"=<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\"><h1 style=\"color: #0066cc;\">AI-Engineering.at</h1><p>Hallo {{ $('Stripe Daten extrahieren').item.json.firstName }},</p><p>vielen Dank für deinen Kauf! Hier ist dein Download-Link:</p><p><a href=\"{{ $('Download-Link generieren').item.json.download_url }}\" style=\"background:#0066cc;color:white;padding:12px 24px;text-decoration:none;border-radius:6px;\">Playbook herunterladen</a></p><p style=\"color:#666;font-size:12px;\">Link gültig 1 Stunde. Bei Fragen: hallo@ai-engineering.at</p></body></html>"},{"name":"from_email","value":"hallo@ai-engineering.at"},{"name":"from_name","value":"Joe von AI-Engineering.at"}]},"options":{"timeout":8000,"allowUnauthorizedCerts":false}},"onError":"continueRegularOutput","continueOnFail":true},{"id":"mm-notify-sale","name":"MM: Sale Notification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,400],"parameters":{"method":"POST","url":"http://10.40.10.83:8065/api/v4/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pd5bcjnin3gi5bsuoqi4atyoyc"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"channel_id","value":"1trxzu41pbfc3qd8cxfmsyus8c"},{"name":"message","value":"=💰 **NEUER VERKAUF** ✅\n📧 Käufer: `{{ $('Stripe Daten extrahieren').item.json.email }}`\n👤 Name: {{ $('Stripe Daten extrahieren').item.json.firstName }}\n💶 EUR {{ $('Stripe Daten extrahieren').item.json.amountTotal / 100 }}\n🔗 Download-Link: **✅ Generiert + Per Email gesendet**\n⏰ {{ new Date().toLocaleString('de-AT') }}\n_Delivery: Email via Rapidmail (Fallback: Direktlink an Käufer)_"}]},"options":{}}},{"id":"respond-ok","name":"Stripe Webhook OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,300],"parameters":{"respondWith":"json","responseBody":"{\"received\": true}"}},{"id":"error-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,520],"parameters":{}},{"id":"error-notify","name":"Error Notify MM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,520],"parameters":{"method":"POST","url":"http://10.40.10.83:8065/api/v4/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pd5bcjnin3gi5bsuoqi4atyoyc"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"channel_id","value":"1trxzu41pbfc3qd8cxfmsyus8c"},{"name":"message","value":"=❌ **Stripe Delivery FEHLER!**\nWorkflow: {{ $json.workflow.name }}\nFehler: {{ $json.execution.error.message }}\nNode: {{ $json.execution.lastNodeExecuted }}"}]},"options":{}}}],"connections":{"Stripe Payment Webhook":{"main":[[{"node":"Stripe Daten extrahieren","type":"main","index":0}]]},"Stripe Daten extrahieren":{"main":[[{"node":"Download-Link generieren","type":"main","index":0}]]},"Download-Link generieren":{"main":[[{"node":"Delivery Email via Rapidmail","type":"main","index":0},{"node":"MM: Sale Notification","type":"main","index":0}]]},"Delivery Email via Rapidmail":{"main":[[{"node":"Stripe Webhook OK","type":"main","index":0}]]},"MM: Sale Notification":{"main":[[{"node":"Stripe Webhook OK","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Error Notify MM","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"errorWorkflow":"","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1b8ca9f3-32b3-41de-baf5-6a65bcc323b4","activeVersionId":"1b8ca9f3-32b3-41de-baf5-6a65bcc323b4","versionCounter":27,"triggerCount":1,"shared":[{"updatedAt":"2026-02-24T03:49:54.104Z","createdAt":"2026-02-24T03:49:54.104Z","role":"workflow:owner","workflowId":"nPvIiIoVrL3uoxDu","projectId":"LQfulml9hbccaGlW","project":{"updatedAt":"2025-12-23T02:25:32.061Z","createdAt":"2025-12-23T01:55:43.149Z","id":"LQfulml9hbccaGlW","name":"joe no <austria.jf@protonmail.com>","type":"personal","icon":null,"description":null,"creatorId":"9d55ef67-e560-427c-8587-2fb979d25a86","projectRelations":[{"updatedAt":"2025-12-23T01:55:43.149Z","createdAt":"2025-12-23T01:55:43.149Z","userId":"9d55ef67-e560-427c-8587-2fb979d25a86","projectId":"LQfulml9hbccaGlW","user":{"updatedAt":"2026-02-24T05:16:14.105Z","createdAt":"2025-12-23T01:55:06.008Z","id":"9d55ef67-e560-427c-8587-2fb979d25a86","email":"austria.jf@protonmail.com","firstName":"joe","lastName":"no","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-23T02:25:54.802Z","personalization_survey_n8n_version":"2.1.2","companyIndustryExtended":["other"],"companySize":"personalUser","companyType":"other","role":"other","reportedSource":"other"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"8BVus2EVX1EyGAni","userActivatedAt":1768215688154,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1771077775253}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-24","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-24T05:34:54.986Z","createdAt":"2026-02-24T05:34:54.986Z","versionId":"1b8ca9f3-32b3-41de-baf5-6a65bcc323b4","workflowId":"nPvIiIoVrL3uoxDu","nodes":[{"id":"stripe-webhook","name":"Stripe Payment Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"path":"stripe-payment-completed","httpMethod":"POST","responseMode":"responseNode","options":{}},"webhookId":"stripe-payment-completed"},{"id":"extract-stripe","name":"Stripe Daten extrahieren","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"// n8n gibt Stripe Webhook body in verschiedenen Feldern\nconst raw = $input.first().json;\n// n8n webhook: body kann in raw.body (string/obj) oder direkt in raw sein\nlet body;\nif (raw.body && typeof raw.body === 'object') {\n  body = raw.body;\n} else if (raw.body && typeof raw.body === 'string') {\n  try { body = JSON.parse(raw.body); } catch(e) { body = raw; }\n} else {\n  body = raw;\n}\n\n// Stripe Event: body.data.object ist das eigentliche Objekt\nconst stripeObj = body.data?.object || body;\n\nconst email =\n  stripeObj.customer_email ||\n  stripeObj.customer_details?.email ||\n  stripeObj.receipt_email ||\n  stripeObj.billing_details?.email ||\n  '';\n\nif (!email) {\n  // Debug: zeige was wir bekommen haben\n  throw new Error('Email nicht gefunden. Raw keys: ' + Object.keys(raw).join(',') + ' | body keys: ' + Object.keys(body).join(','));\n}\n\nconst firstName =\n  stripeObj.customer_details?.name?.split(' ')[0] ||\n  stripeObj.billing_details?.name?.split(' ')[0] ||\n  'Kunde';\n\nconst purchaseRef = stripeObj.payment_intent || stripeObj.id || 'stripe-' + Date.now();\nconst amountTotal = (stripeObj.amount_total || 0) / 100;\nconst eventType = body.type || 'checkout.session.completed';\n\nreturn [{ json: { email, firstName, purchaseRef, amountTotal, eventType } }];"}},{"id":"get-download-link","name":"Download-Link generieren","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"POST","url":"http://10.40.10.99:3002/api/download-link","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-download-issuer-secret","value":"b9a8d68a57293a634c5d384bbf12358428ff31d0ef7715b5534139cc45807845"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"product_id","value":"playbook01"},{"name":"format","value":"pdf"},{"name":"purchase_ref","value":"={{ $json.purchaseRef }}"}]},"options":{}}},{"id":"send-delivery-mail","name":"Delivery Email via Rapidmail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,200],"parameters":{"method":"POST","url":"https://api.rapidmail.de/v3/transactional-mails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Basic {{ Buffer.from($env.RAPIDMAIL_API_USER + ':' + $env.RAPIDMAIL_API_PASSWORD).toString('base64') }}"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Stripe Daten extrahieren').item.json.email }}"},{"name":"subject","value":"Dein Homelab Automation Playbook — Download bereit!"},{"name":"html","value":"=<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\"><h1 style=\"color: #0066cc;\">AI-Engineering.at</h1><p>Hallo {{ $('Stripe Daten extrahieren').item.json.firstName }},</p><p>vielen Dank für deinen Kauf! Hier ist dein Download-Link:</p><p><a href=\"{{ $('Download-Link generieren').item.json.download_url }}\" style=\"background:#0066cc;color:white;padding:12px 24px;text-decoration:none;border-radius:6px;\">Playbook herunterladen</a></p><p style=\"color:#666;font-size:12px;\">Link gültig 1 Stunde. Bei Fragen: hallo@ai-engineering.at</p></body></html>"},{"name":"from_email","value":"hallo@ai-engineering.at"},{"name":"from_name","value":"Joe von AI-Engineering.at"}]},"options":{"timeout":8000,"allowUnauthorizedCerts":false}},"onError":"continueRegularOutput","continueOnFail":true},{"id":"mm-notify-sale","name":"MM: Sale Notification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,400],"parameters":{"method":"POST","url":"http://10.40.10.83:8065/api/v4/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pd5bcjnin3gi5bsuoqi4atyoyc"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"channel_id","value":"1trxzu41pbfc3qd8cxfmsyus8c"},{"name":"message","value":"=💰 **NEUER VERKAUF** ✅\n📧 Käufer: `{{ $('Stripe Daten extrahieren').item.json.email }}`\n👤 Name: {{ $('Stripe Daten extrahieren').item.json.firstName }}\n💶 EUR {{ $('Stripe Daten extrahieren').item.json.amountTotal / 100 }}\n🔗 Download-Link: **✅ Generiert + Per Email gesendet**\n⏰ {{ new Date().toLocaleString('de-AT') }}\n_Delivery: Email via Rapidmail (Fallback: Direktlink an Käufer)_"}]},"options":{}}},{"id":"respond-ok","name":"Stripe Webhook OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,300],"parameters":{"respondWith":"json","responseBody":"{\"received\": true}"}},{"id":"error-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,520],"parameters":{}},{"id":"error-notify","name":"Error Notify MM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,520],"parameters":{"method":"POST","url":"http://10.40.10.83:8065/api/v4/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pd5bcjnin3gi5bsuoqi4atyoyc"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"channel_id","value":"1trxzu41pbfc3qd8cxfmsyus8c"},{"name":"message","value":"=❌ **Stripe Delivery FEHLER!**\nWorkflow: {{ $json.workflow.name }}\nFehler: {{ $json.execution.error.message }}\nNode: {{ $json.execution.lastNodeExecuted }}"}]},"options":{}}}],"connections":{"Stripe Payment Webhook":{"main":[[{"node":"Stripe Daten extrahieren","type":"main","index":0}]]},"Stripe Daten extrahieren":{"main":[[{"node":"Download-Link generieren","type":"main","index":0}]]},"Download-Link generieren":{"main":[[{"node":"Delivery Email via Rapidmail","type":"main","index":0},{"node":"MM: Sale Notification","type":"main","index":0}]]},"Delivery Email via Rapidmail":{"main":[[{"node":"Stripe Webhook OK","type":"main","index":0}]]},"MM: Sale Notification":{"main":[[{"node":"Stripe Webhook OK","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Error Notify MM","type":"main","index":0}]]}},"authors":"joe no","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-24T05:34:55.559Z","id":69,"workflowId":"nPvIiIoVrL3uoxDu","versionId":"1b8ca9f3-32b3-41de-baf5-6a65bcc323b4","event":"activated","userId":"9d55ef67-e560-427c-8587-2fb979d25a86"}]}}