products/n8n-starter-bundle/02_ollama-llm-analysis.json
{"updatedAt":"2025-12-23T05:23:28.463Z","createdAt":"2025-12-23T05:23:28.463Z","id":"jvBLKVvQOSTgBKDC","name":"Ollama LLM Analysis","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"llm-analyze","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"id":"a2c7615b-40ec-4efc-9912-877428789690"},{"parameters":{"method":"POST","url":"http://10.40.10.80:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={\"model\": \"llama3.2:3b\", \"prompt\": \"Analysiere kurz: \" + JSON.stringify($json.body).substring(0, 500), \"stream\": false}","options":{"timeout":60000}},"name":"Ollama","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300],"id":"8e897d03-9ac2-4d94-982b-b82211334de8"},{"parameters":{"method":"POST","url":"http://10.40.10.83:8065/hooks/hq5j5xnk8irhuf99wn9msjebjh","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"AI Analysis: \" + $json.response}"},"name":"Mattermost","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300],"id":"bc07db2f-1c87-4739-abc2-c5406e2972f0"}],"connections":{"Webhook":{"main":[[{"node":"Ollama","type":"main","index":0}]]},"Ollama":{"main":[[{"node":"Mattermost","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"820ba298-7f63-41aa-b718-032d72c33d90","activeVersionId":"820ba298-7f63-41aa-b718-032d72c33d90","versionCounter":35,"triggerCount":1,"shared":[{"updatedAt":"2025-12-23T05:23:28.463Z","createdAt":"2025-12-23T05:23:28.463Z","role":"workflow:owner","workflowId":"jvBLKVvQOSTgBKDC","projectId":"LQfulml9hbccaGlW","project":{"updatedAt":"2025-12-23T02:25:32.061Z","createdAt":"2025-12-23T01:55:43.149Z","id":"LQfulml9hbccaGlW","name":"joe no <austria.jf@protonmail.com>","type":"personal","icon":null,"description":null,"creatorId":"9d55ef67-e560-427c-8587-2fb979d25a86","projectRelations":[{"updatedAt":"2025-12-23T01:55:43.149Z","createdAt":"2025-12-23T01:55:43.149Z","userId":"9d55ef67-e560-427c-8587-2fb979d25a86","projectId":"LQfulml9hbccaGlW","user":{"updatedAt":"2026-02-24T05:16:14.105Z","createdAt":"2025-12-23T01:55:06.008Z","id":"9d55ef67-e560-427c-8587-2fb979d25a86","email":"austria.jf@protonmail.com","firstName":"joe","lastName":"no","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-23T02:25:54.802Z","personalization_survey_n8n_version":"2.1.2","companyIndustryExtended":["other"],"companySize":"personalUser","companyType":"other","role":"other","reportedSource":"other"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"8BVus2EVX1EyGAni","userActivatedAt":1768215688154,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1771077775253}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-24","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-23T05:43:12.201Z","createdAt":"2025-12-23T05:23:28.589Z","versionId":"820ba298-7f63-41aa-b718-032d72c33d90","workflowId":"jvBLKVvQOSTgBKDC","nodes":[{"parameters":{"httpMethod":"POST","path":"llm-analyze","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"id":"a2c7615b-40ec-4efc-9912-877428789690"},{"parameters":{"method":"POST","url":"http://10.40.10.80:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={\"model\": \"llama3.2:3b\", \"prompt\": \"Analysiere kurz: \" + JSON.stringify($json.body).substring(0, 500), \"stream\": false}","options":{"timeout":60000}},"name":"Ollama","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300],"id":"8e897d03-9ac2-4d94-982b-b82211334de8"},{"parameters":{"method":"POST","url":"http://10.40.10.83:8065/hooks/hq5j5xnk8irhuf99wn9msjebjh","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"AI Analysis: \" + $json.response}"},"name":"Mattermost","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300],"id":"bc07db2f-1c87-4739-abc2-c5406e2972f0"}],"connections":{"Webhook":{"main":[[{"node":"Ollama","type":"main","index":0}]]},"Ollama":{"main":[[{"node":"Mattermost","type":"main","index":0}]]}},"authors":"joe no","name":"Version 820ba298","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-23T05:43:12.154Z","id":5,"workflowId":"jvBLKVvQOSTgBKDC","versionId":"820ba298-7f63-41aa-b718-032d72c33d90","event":"activated","userId":"9d55ef67-e560-427c-8587-2fb979d25a86"}]}}